@using mf_frontend.Models;
@using mf_frontend.App_LocalResources;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Content/material.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/material.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
        .mdl-menu__item {
            height: 30px;
            line-height: 30px;
        }

        a {
            color: #486078;
            text-decoration: none;
        }

        h2 {
            font-size: 24px;
            font-style: normal;
        }

        .container {
            max-width: 1600px;
            width: calc(100% - 30px);
        }

        @@media only screen and (min-width: 750px) {
            .mdl-layout__drawer-button {
                display: none;
            }

            .container {
                width: 100%;
            }
        }

        .mdl-layout__header {
            background-color: #006FB7;
        }

        .mdl-layout__drawer-button {
            height: 35px;
            margin: 0 0 0 0;
        }

        .content {
            border-radius: 2px;
            padding: 20px 20px;
            margin-bottom: 80px;
            margin: auto;
        }

        .demo-footer {
            padding-left: 40px;
            margin-top: 40px;
        }

        .mdl-layout__drawer {
            width: 300px;
            left: -150px;
        }

            .mdl-layout__drawer.is-visible {
                left: 0;
            }
    </style>
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
        <header class="mdl-layout__header" style="min-height:45px">
            <div class="mdl-layout__header-row" style="height:45px">
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    @Html.Partial("_MenuPartial")
                </nav>

                <div class="mdl-layout-spacer"></div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                        <i class="material-icons">search</i>
                    </label>
                   
                    <div class="mdl-textfield__expandable-holder">
                        <form action="/@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName/Search/Index" method="get" role="form">
                            <input class="mdl-textfield__input" type="text" name="searchText" id="fixed-header-drawer-exp">
                            <input type="submit" value="Search" style="display:none" />
                        </form>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                        <a href="/tg">
                            <li class="mdl-menu__item @GetActiveLang("tg")">Тоҷикй</li>
                        </a>
                        <a href="/ru">
                            <li class="mdl-menu__item @GetActiveLang("ru")">Русский</li>
                        </a>
                        <a href="/en">
                            <li class="mdl-menu__item @GetActiveLang("en")">English</li>
                        </a>
                    </ul>
                </div>


            </div>
        </header>
        <div class="mdl-layout mdl-layout__drawer">
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="@("http://moliya.tj/" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + "/Home/Index")">
                    @GlobalRes.main
                </a>
                <div>
                    <a class="mdl-navigation__link" href="#" id="left-about">
                        @GlobalRes.AboutMinistry
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                        for="left-about">
                        @GetSubMenu(2, 35, 41)
                    </ul>
                </div>

                <div>
                    <a class="mdl-navigation__link" href="#" id="left-hot">
                        @GlobalRes.HotLine
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                        for="left-hot">
                        @GetSubMenu(3, 36, 43)
                        <li style="border-top: 1px dotted lightgray; margin-top:5px;"></li>
                        @GetQuestionCategory()
                    </ul>
                </div>


                <div>
                    <a class="mdl-navigation__link" href="#" id="left-media">
                        @GlobalRes.Media
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                        for="left-media">
                        @GetSubMenu(4, 37, 44)
                        <li style="border-top: 1px dotted lightgray; margin-top:5px;"></li>
                        @GetNewsType()
                    </ul>
                </div>


                <div>
                    <a class="mdl-navigation__link" href="#" id="left-info">
                        @GlobalRes.RegulatoryInformation
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                        for="left-info">
                        @GetSubMenu(5, 38, 45)
                        <li style="border-top: 1px dotted lightgray; margin-top:5px;"></li>
                        @GetFileCategorys()
                    </ul>
                </div>


                <div>
                    <a class="mdl-navigation__link" href="#" id="left-analytics">
                        @GlobalRes.Analytics
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                        for="left-analytics">
                        @GetSubMenu(6, 39, 46)
                    </ul>
                </div>

                <div>
                    <a class="mdl-navigation__link" href="#" id="left-perform">
                        @GlobalRes.PFMReforms
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                        for="left-perform">
                        @GetSubMenu(49, 51, 52)
                    </ul>
                </div>

                <div>
                    <a class="mdl-navigation__link" href="#" id="left-prints">
                        @GlobalRes.Prints
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                        for="left-prints">
                        @GetSubMenu(7, 40, 47)
                    </ul>
                </div>

            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="container mdl-grid">
                <div class="content mdl-cell mdl-cell--10-col">
                    <div>
                        <span>
                            <img src="/Content/images/gerb_logo.png" style="float: left; width:100px; height:100px; margin-right:20px; margin-bottom:10px" />
                        </span>
                        <h6 style="font-family:Roboto-Light;margin-top:10px" class="mdl-color-text--black">@GlobalRes.OfficialSite</h6>
                        <h4 style="font-family:Roboto-Light; margin:0; margin-top:-10px" class="mdl-color-text--black">
                            <span>@ViewBag.Header @ViewBag.HeaderSecond</span>
                        </h4>
                    </div>
                </div>
                <div class="content mdl-color--white mdl-shadow--4dp mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
                    @RenderBody()
                </div>
            </div>
            <footer class="demo-footer mdl-mini-footer">
                <div class="mdl-mini-footer--left-section">
                    <div class="gerb">
                        <img src="/Content/images/gerb.png" style="float: left" />
                        <br />
                    </div>
                    <div>
                        @GlobalRes.Footer1
                        <br /><br />
                        @GlobalRes.Footer2
                        <br />
                        @GlobalRes.Footer3
                        <br /><br />
                        <a href="http://minfin.tj" target="_blank" style="font-size:16px;">@GlobalRes.OldSite</a>
                        @*<div style="padding:20px">
                                <!-- Yandex.Metrika informer -->
                                <a href="https://metrika.yandex.ru/stat/?id=30503142&amp;from=informer"
                                   target="_blank" rel="nofollow">
                                    <img src="//bs.yandex.ru/informer/30503142/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                         style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:30503142,lang:'ru'});return false}catch(e){}" />
                                </a>
                                <!-- /Yandex.Metrika informer -->
                                <!-- Yandex.Metrika counter -->
                                <script type="text/javascript">
                                    (function (d, w, c) {
                                        (w[c] = w[c] || []).push(function () {
                                            try {
                                                w.yaCounter30503142 = new Ya.Metrika({
                                                    id: 30503142,
                                                    clickmap: true,
                                                    trackLinks: true,
                                                    accurateTrackBounce: true
                                                });
                                            } catch (e) { }
                                        });
                                        var n = d.getElementsByTagName("script")[0],
                                        s = d.createElement("script"),
                                        f = function () { n.parentNode.insertBefore(s, n); };
                                        s.type = "text/javascript";
                                        s.async = true;
                                        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
                                        if (w.opera == "[object Opera]") {
                                            d.addEventListener("DOMContentLoaded", f, false);
                                        } else { f(); }
                                    })(document, window, "yandex_metrika_callbacks");
                                </script>
                                <noscript><div><img src="//mc.yandex.ru/watch/30503142" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                                <!-- /Yandex.Metrika counter -->
                            </div>*@
                    </div>
                </div>
            </footer>
        </main>
    </div>
</body>
</html>


@helper GetActiveLang(string lang)
{
if (lang == System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName)
{
        @:mdl-color--red mdl-color-text--white
    }
}

@helper GetSubMenu(int main_id, int main_id_tj, int main_id_en)
{
mfEntities db = new mfEntities();
IEnumerable<tb_content> content = db.tb_content.Where(t => t.main_id == main_id && t.is_active == true).OrderBy(t => t.order_id); ;
if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "tg")
{
    content = db.tb_content.Where(t => t.main_id == main_id_tj && t.is_active == true).OrderBy(t => t.order_id);
}
if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "en")
{
    content = db.tb_content.Where(t => t.main_id == main_id_en && t.is_active == true).OrderBy(t => t.order_id);
}
foreach (tb_content row in content)
{
    if (row.fixed_url != null)
    {
            @Html.Raw("<a href='http://moliya.tj/" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + row.fixed_url + "'><li class='mdl-menu__item'>" + row.name + "</li></a>")
    }
    else
    {
            @Html.Raw("<a href='http://moliya.tj/" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + "/Content/Item/" + row.id + "'><li class='mdl-menu__item'>" + row.name + "</li></a>")
    }
}
}
@helper GetQuestionCategory()
{
mfEntities db = new mfEntities();
IEnumerable<tb_question_categorys> qc = db.tb_question_categorys.Where(t => t.is_active == true && t.tb_lang.code == System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName);
foreach (tb_question_categorys row in qc)
{
        @Html.Raw("<a href='http://moliya.tj/" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + "/Question/Index?Category=" + row.id + "'><li class='mdl-menu__item'>" + row.name + "</li></a>")
}
}
@helper GetNewsType()
{
mfEntities db = new mfEntities();
IEnumerable<tb_news_type> nt = db.tb_news_type.Where(t => t.is_active == true && t.tb_lang.code == System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName);
foreach (tb_news_type row in nt)
{
        @Html.Raw("<a href='http://moliya.tj/" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + "/News/Index/" + row.id + "'><li class='mdl-menu__item'>" + row.name + "</li></a>")
}
}
@helper GetFileCategorys()
{
mfEntities db = new mfEntities();
IEnumerable<tb_files_category> fc = db.tb_files_category.Where(t => t.is_active == true && t.is_menu == true && t.tb_lang.code == System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName);
foreach (tb_files_category row in fc)
{
        @Html.Raw("<a href='http://moliya.tj/" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + "/Files?Category=" + row.id + "'><li class='mdl-menu__item'>" + row.name + "</li></a>")
}
}