@model mf_frontend.Models.tb_ads_request

@{
    ViewBag.Title = "Заявка на размещения рекламы";
}
<h2>Заявка на размещения рекламы</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="table-form" style="width:50%; margin:auto">
        <tr>
            <td>
                <div class="mdl-textfield mdl-js-textfield">
                    @Html.TextBoxFor(model => model.fio, new { @class = "mdl-textfield__input" , required = "required" })
                    <label class="mdl-textfield__label" for="sample1">ФИО(*)</label>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="mdl-textfield mdl-js-textfield">
                    @Html.TextBoxFor(model => model.organization, new { @class = "mdl-textfield__input" })
                    <label class="mdl-textfield__label" for="sample1">Наименование организации</label>
                </div>
            </td>
        </tr>

        <tr>

            <td>
                <div class="mdl-textfield mdl-js-textfield">
                    @Html.TextBoxFor(model => model.phone, new { @class = "mdl-textfield__input", required = "required" })
                    <label class="mdl-textfield__label" for="sample1">Контактный телефон(*)</label>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="text-transform:capitalize;" type="submit" value="Отправить заявку" /> | <a href="/">Отказаться</a>
            </td>
        </tr>
    </table>
}

