@model mf_frontend.Models.tb_question_request

@{
    ViewBag.Title = "Вопрос пользователя";
}
<br />
<h2>Задать вопрос</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <table class="table-form">
        <tr>
            <td style="width: 250px;" align="right">
                ФИО(*)
            </td>
            <td>
                @Html.TextBoxFor(model => model.fio, new { @class = "mdl-textfield__input", required = "required" })
            </td>
        </tr>
        <tr>
            <td align="right">E-mail(*)</td>
            <td>@Html.TextBoxFor(model => model.email, new { @class = "mdl-textfield__input", required = "required" })</td>
        </tr>
        <tr>
            <td align="right">Наименование организации</td>
            <td>@Html.TextBoxFor(model => model.organization, new { @class = "mdl-textfield__input" })</td>
        </tr>
        <tr>
            <td align="right">Должность</td>
            <td>@Html.TextBoxFor(model => model.position, new { @class = "mdl-textfield__input" })</td>
        </tr>
        <tr>
            <td align="right">Контактный телефон(*)</td>
            <td>@Html.TextBoxFor(model => model.phone, new { @class = "mdl-textfield__input", required = "required" })</td>
        </tr>
        <tr>
            <td align="right">Категория вопроса</td>
            <td>@Html.DropDownList("category_id")</td>
        </tr>
        <tr>
            <td align="right" style="vertical-align:top">Описание вопроса(*)</td>
            <td>@Html.TextAreaFor(model => model.question, new { @class = "mdl-textfield__input" })</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="text-transform:capitalize;" type="submit" value="Отправить вопрос" /> | <a href="/">Отказаться</a>
            </td>
        </tr>
    </table>
}