@using mf_frontend.Models;
@using mf_frontend.App_LocalResources;
<div class="span2 mdl-shadow--3dp" style="width:548px;height:282px">
    <div class="news-title" style="background:#BDBDBD">
        <i class="fa fa-file-text-o news-title-icon"></i><span class="news-title-text">@GlobalRes.TasksAndFunctions</span>
    </div>
    <div style="height:auto;overflow-y:auto">
    @if (ViewBag.Tasks != null)
    {
            @Html.Raw(ViewBag.Tasks.text)
    }
    </div>
</div>
<div class="news mdl-shadow--2dp">
    <dl class="accordion">
        <dt class="accordion__title"><i class="fa fa-file-text-o" style="padding-right:4px;" ></i><span class="uppercase"> @GlobalRes.News</span></dt>
        <dd class="accordion__content">
        <div style="padding-left:40px; padding-top:5px;">
            <div class="news-body colored">
                @foreach (tb_news row in ViewBag.News) {
                <div class="news-item">
                    <a href="@("/news/item/"+row.id)" style="text-decoration:none; color:black">
                        @row.event_date.ToString().Substring(0,10) - @row.title
                    </a>
                </div>
                }
                <div>
                    <a style="float:right; padding-top:10px; padding-right:30px;" href=@("/"+System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName+"/News")>@GlobalRes.AllNews</a>
                </div>
            </div>
        </div>
        </dd>
        <dt class="accordion__title"><i class="fa fa-file-text-o" style="padding-right:4px;"></i><span class="uppercase">@GlobalRes.Files</span></dt>
        <dd class="accordion__content">
        <div style="padding-left:40px; padding-top:5px;">
            <div class="news-body colored">
                @foreach (tb_files row in ViewBag.Files) {
                <div class="news-item">
                    <a href="@(System.Web.Configuration.WebConfigurationManager.AppSettings["admin-url"] + "upload_files/"+row.file_name)" style="text-decoration:none; color:black">
                        @row.date_create.ToString().Substring(0, 10) - @row.title
                    </a>
                </div>
                }
            </div>
        </div>
        </dd>
    </dl>
    
    <script>
    if ($(window).width() > 768)
    {
    // Hide all but first tab content on larger viewports
    $('.accordion__content:not(:first)').hide();
    // Activate first tab
    $('.accordion__title:first-child').addClass('active');
    }
    else
    {
    // Hide all content items on narrow viewports
    $('.accordion__content').hide();
    };
    // Wrap a div around content to create a scrolling container which we're going to use on narrow viewports
    $(".accordion__content").wrapInner("<div class='overflow-scrolling'></div>");
    // The clicking action
    $('.accordion__title').on('click', function () {
    $('.accordion__content').hide();
    $(this).next().show().prev().addClass('active').siblings().removeClass('active');
    });
    </script>
</div>
<div class="span2 mdl-shadow--2dp colored" style="margin-top:25px; width:548px; margin-right:14px">
    <div class="news-title">
        <i class="fa fa-bar-chart-o news-title-icon"></i><span class="news-title-text">@GlobalRes.DataCenter</span>
    </div>
    <div class="dc-body">
        @if (ViewBag.DC != null) {
        <a href="@("/" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName+"/DataCenter")">
            <div class="dc-title">@ViewBag.DC.title</div>
            <div class="dc-image">
                <div style="width: 465px; height:242px; margin-left:5px; background-image: url(@(System.Web.Configuration.WebConfigurationManager.AppSettings["admin-url"] + "upload_dc/" + ViewBag.DC.image));background-position:center; background-repeat:no-repeat; background-size: 465px;">
                </div>
                @*<img src="@(System.Web.Configuration.WebConfigurationManager.AppSettings["admin-url"] + "upload_dc/" + ViewBag.DC.image)" />*@
            </div>
        </a>
        }
    </div>
</div>
<script type="text/javascript">
var topElementId = '0', t;
$(document).ready(function () {
var el = $('#frame').children();
// проверяем количество элементов в списке: если элементов больше
// чем вмещается в видимую область, то начинаем скролирование
if (el.size() > 1) {
// присваиваем каждому элементу списка свой ID
el.each(function (i) {
$(this).attr('id', 'row' + i);
});
// запускаем таймер. число задает количество милисекунд между
// загрузкой страницы и началом скролирования
t = setTimeout('listSlideUp()', 3000);
}
});
function listSlideUp() {
// для самого верхнего элемента списка (не видимого на странице)
// вызываем функцию плавного уменьшения высоты
$('#row' + topElementId).slideUp(1000, function () {
// тут определяем кол-бэк функцию, выполняющуюся после завершения
// работы slideup
// если текущий элемент не вспомогательный,
// то переносим его в конец списка
if (topElementId > 0) {
// создаем копию верхнего элемента
var topElement = jQuery('#row' + topElementId).clone().show();
// убираем верхний элемент из списка
$('#row' + topElementId).remove();
// добавляем скопированный элемент в конец списка
$('#frame').append(topElement);
}
topElementId++;
// если номер верхнего элемента больше количества элементов,
// то сбрасываем его в 1
if (topElementId >= jQuery('#frame').children().size()) {
topElementId = 1;
}
});
// опять запускаем таймер
t = setTimeout('listSlideUp()', 4000);
}
</script>
<div class="span2  mdl-shadow--2dp" style="margin-top:25px; width:400px;">
    <div class="news-title">
        <i class="fa fa-file-text-o news-title-icon"></i><span class="news-title-text">@GlobalRes.UsefulFiles</span>
    </div>
    <div class="dc-body">
        <div class="scroller">
            <div id="frame">
                <div style="height:20px; width:300px;"></div>
                @foreach (tb_files row in ViewBag.FilesOnMain)
                {
                <div style="width:380px; padding-top:20px;">
                    <table>
                        <tr>
                            <td >
                                <div style="float:left; ">
                                    @GetIcon(row.file_name.Split('.')[1])
                                </div>
                                <div style="color: #486078;line-height:16px; padding-left:50px; ">
                                    <a href="@(System.Web.Configuration.WebConfigurationManager.AppSettings["admin-url"]+"upload_files/"+row.file_name)" target="_blank">
                                        @row.title
                                    </a>
                                </div>
                                
                                <div style="font-size:11px; line-height:13px; padding-top:4px; margin-left:50px; padding-bottom:7px; border-bottom:1px dotted lightgray">@row.description</div>
                            </td>
                        </tr>
                    </table>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="span2 mdl-shadow--2dp colored" style="margin-top:35px; width:548px; margin-right:14px">
    <div class="news-title">
        <span class="news-title-text" >@GlobalRes.StructureOrganization</span>
    </div>
    <div class="dc-body" style="overflow-y:auto">
        @if (ViewBag.Structure != null)
        {
            <div style="padding:10px 10px 10px 10px">
                <ul>
                    <li style="font-size:small; font-weight:normal">Руководство</li>
                </ul>
                <span>@ViewBag.Structure.name_director @ViewBag.Structure.last_name_director @ViewBag.Structure.full_name_director - Руководитель </span>
                <br />
                <div style="margin-top:10px">
                    <img width="100" height="100" style=" float: left;margin: 0 20px 20px 0;" src="@(System.Web.Configuration.WebConfigurationManager.AppSettings["admin-url"]+"upload_organization/"+ViewBag.Structure.picture_director)" />
                    <span style="text-align: justify;text-indent: 2em;">@ViewBag.Structure.bio_director</span>
                </div>
                <ul style="margin-top:10px">
                    <li style="font-size:small; font-weight:normal">Начальники отделов</li>
                </ul>
                @Html.Raw(ViewBag.Structure.text_for_nachalniki)  
            </div>
        }
    </div>
</div>

<div class="span2 mdl-shadow--2dp colored" style="margin-top:35px; width:400px;">
    <div class="news-title">
       <span class="news-title-text" >@GlobalRes.AboutAndContacts</span>
    </div>
    <div class="dc-body" style="overflow-y:auto">
        <div style="padding:10px 10px 10px 10px">
            <table>
                @if (ViewBag.About != null)
                {
                    <tr>
                        <td style="font-weight:normal;font-size:small; padding:5px 5px 5px 5px">Юридический адрес:</td>
                        <td style="color:gray">@ViewBag.About.address</td>
                    </tr>
                    <tr>
                        <td style="font-weight:normal;font-size:small; padding:5px 5px 5px 5px">Полное наименование:</td>
                        <td>@ViewBag.About.full_name</td>
                    </tr>
                    <tr>
                        <td style="font-weight:normal;font-size:small; padding:5px 5px 5px 5px">Сокращенное наименование:</td>
                        <td>@ViewBag.About.short_name</td>
                    </tr>
                    <tr>
                        <td style="font-weight:normal;font-size:small; padding:5px 5px 5px 5px">Код:</td>
                        <td>@ViewBag.About.code</td>
                    </tr>
                    <tr>
                        <td style="font-weight:normal;font-size:small; padding:5px 5px 5px 5px">Официальный сайт:</td>
                        <td>@ViewBag.About.site</td>
                    </tr>
                    <tr>
                        <td style="font-weight:normal;font-size:small; padding:5px 5px 5px 5px">Телефон:</td>
                        <td>@ViewBag.About.phone</td>
                    </tr>
                    <tr>
                        <td style="font-weight:normal;font-size:small; padding:5px 5px 5px 5px">Эл адрес:</td>
                        <td>@ViewBag.About.email</td>
                    </tr>
                }
            </table>

        </div>

    </div>
</div>

@helper GetIcon(string type) {
if (type == "doc" || type == "docx") {
<img src="/Content/Images/docx.jpg" />
}
if (type == "pdf" ) {
<img src="/Content/Images/pdf.jpg" />
}
}