@{
    ViewBag.Title = ViewBag.News.title;
}
<div style="margin:auto; width:85%; color:black">
    <p style="margin:0; padding:0;" class="mdl-color-text--blue-grey">@string.Format("{0:dd.MM.yyyy}", ViewBag.News.event_date)</p>

    <h3 style="color:black; margin:0; font-size:20px;font-weight:400; margin-bottom:10px;">@ViewBag.News.title</h3>

    <img src="@(System.Web.Configuration.WebConfigurationManager.AppSettings["admin-url"] + "upload_news/"+ ViewBag.News.image)" style="max-height:400px; width:80%; max-width:1000px;" />
    <div style="text-align: justify; -ms-text-justify: inter-word; text-justify: inter-word; width:90%; margin:10px 0 10px 0; margin-top:30px">
        <p class="mdl-color-text--blue-grey-600" style="font-weight:bold">@ViewBag.News.descriptoin</p>
        <div class="text-body">
            @Html.Raw(ViewBag.News.text)
        </div>
        <script>
        $('.text-body').html(function (i, h) {
            return h.replace(/&nbsp;/g, '');
        });
        </script>
    </div>

</div>
