@model PagedList.IPagedList<mf_frontend.Models.tb_files>
@using mf_frontend.Models
@using mf_frontend.App_LocalResources
@using PagedList.Mvc

@{
    ViewBag.Title = GlobalRes.FilesArchive;
}

<h2 style="margin-bottom:20px; margin-top: 20px;">@GlobalRes.FilesArchive / @ViewBag.CatName</h2>

<form action="@("/" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + "/Files")" method="get">
    <table>
        <tr>
            <td style="width:150px; height:40px;">Категория</td>
            <td>@Html.DropDownList("Category", null, "Все категории", new { style = "width:400px;" })</td>
        </tr>
        <tr>
            <td style="height:30px;">
                Название или описание файла
            </td>
            <td style="vertical-align:middle">
                    <input style="width:388px; font-weight:100;" class="text-box" type="text" name="name" placeholder="Поиск по имени или описанию файла" value="@ViewBag.Name" />                
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-top:10px;">
                <input type="submit"  value="Фильтровать" class="btn" /> | <a href="@("/" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + "/Files")">Убрать фильтр</a>
            </td>
        </tr>
    </table>
</form>
<br /><br />
<table style="width:100%;">
    <tr style="background-color: #486078; color: white">
        <td style="height: 55px; text-align:center; padding-right:10px; padding-left: 10px; width: 100px; vertical-align:middle">Дата <br/> публикации</td>
        <td style="height: 45px; line-height:45px;text-align:center;vertical-align:middle ">Категория</td>
        <td style="height: 45px; line-height:45px; width:650px; vertical-align:middle;padding-left:10px;">Файл</td>
    </tr>
    @foreach (tb_files row in ViewBag.Files)
    {
        <tr>
            <td style="border-bottom: solid 1px lightgray; height:35px; text-align:center; padding-top:5px;">@row.date_create.Date.ToString().Split(' ')[0]</td>
            <td style="border-bottom: solid 1px lightgray; height: 35px; padding-right: 10px; text-align:center">@row.tb_files_category.name</td>
            <td style="border-bottom: solid 1px lightgray; height:35px;"><a href="@(System.Web.Configuration.WebConfigurationManager.AppSettings["admin-url"]+"upload_files/"+row.file_name)">@row.title</a> <p style="font-size:11px; line-height:13px; padding-top:3px;">@row.description</p></td>
        </tr>
    }

</table>

<br />
Страница @(ViewBag.Files.PageCount < ViewBag.Files.PageNumber ? 0 : ViewBag.Files.PageNumber) из @ViewBag.Files.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, name = Request.Params["name"] }))

